@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  position: fixed;
  z-index: 3;
  width: 100vw;
  background: white !important;
}

.navbar .container-fluid {
  background: white;
}

.carousel-inner {
  -webkit-filter: blur(1.5px);
}

.carousel-caption {
  bottom: 22.25rem;
  letter-spacing: 12px;
  text-transform: uppercase;
  font-family: 'Ephesis', cursive;
}

.carousel-caption h1 {
  font-size: 150px;
  color: #ffa4a4;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.containerTwo {
  margin-top: 75px;
  margin-bottom: 95px;
  text-align: center;
}

.containerTwo img {
  border-radius: 50%;
}

.containerTwo .row {
  margin-left: 20px;
  font-family: 'Open Sans', sans-serif;
}

.containerTwo p {
  padding-top: 10px;
  padding-bottom: 10px;
}

.containerTwo a {
  text-decoration: none;
  color: black;
  text-align: center;
  border: .5px solid black;
  padding: 10px 10px;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
}

.containerTwo a:hover {
  background-color: #ffa4a4;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: white;
}

.containerThree {
  background-color: #ffa4a4;
  padding: 1px 0px 52px 0;
  font-family: 'Open Sans', sans-serif;
}

.containerThree .headings {
  text-align: center;
  margin-top: 55px;
}

.containerThree .headings h3 {
  font-size: 1.10rem;
  font-weight: 600;
}

.containerThree .headings h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5px;
}

.containerThree .btn {
  padding-bottom: 0;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
  text-align: center;
  border: .5px solid black;
  padding: 10px 10px;
  border-radius: 5px;
}

.containerThree a:hover {
  background-color: black;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: white;
}

.containerThree p {
  text-align: center;
  width: 25vw;
  margin: 30px auto 0 auto;
}

.containerFour {
  padding-bottom: 145px;
}

.containerFour .smallHeadings {
  margin-top: 25px;
  margin-bottom: 30px;
}

.containerFour .smlHeading {
  width: 252px;
}

.containerFour .headings {
  text-align: center;
  margin-top: 55px;
  font-family: 'Open Sans', sans-serif;
}

.containerFour .headings h3 {
  font-size: 1.10rem;
}

.containerFour .row {
  margin: 0 auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-right: 96px;
  margin-top: 25px;
  font-family: 'Open Sans', sans-serif;
}

.containerFour .col-sm-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.containerFour .col-sm-4 .imgContent {
  border: 2px solid black;
  width: 300px;
  padding: 10px 20px;
}

.containerFour img {
  width: 300px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.page-footer .logo2 {
  margin-bottom: 20px;
}

.page-footer .icons img {
  padding-right: 5px;
  cursor: pointer;
}

/* Food Menu Styling */
.containerFood {
  text-align: center;
  padding-bottom: 50px;
  /*
        .pastaBtn {
            border: 2px solid black;
            padding: 5px 100px;
            color: rgb(255, 164, 164) ;
            text-decoration: none;
            background-color: rgb(0,0,0); // Fallback color //
            background-color: rgba(0,0,0, 0.4); // Black w/opacity/see-through // 

        } */
}

.containerFood .firstH2 {
  margin-top: 15px;
}

.containerFood h2 {
  font-family: 'Open Sans', sans-serif;
}

.containerFood h1 {
  font-family: 'Ephesis', cursive;
  font-size: 100px;
  color: #ffa4a4;
  padding-right: 20px;
}

.containerFood .foodBorder {
  border: 2px solid black;
}

.containerFood .lastPizza {
  padding-bottom: 0 !important;
  margin-bottom: 5px !important;
}

.containerFood .banner {
  width: 340px;
}

/* Dessert Menu Styling */
.containerDessert h1 {
  letter-spacing: 0;
}

/* Reservation Styline */
.containerForm {
  padding-top: 25px;
  margin-left: 26vw;
}

.containerForm .btn {
  margin-top: 20px;
  margin-left: 20vw;
}

.containerForm .row2 {
  margin-left: 6vw;
}

/* About Styling */
.containerHistory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 22vw;
}

.containerHistory p {
  margin: 30px auto 0 45px !important;
}

.containerAbout {
  background-color: #fafafa;
  padding: 1px 0px 52px 0;
  font-family: 'Open Sans', sans-serif;
  padding-top: 100px;
  padding-bottom: 100px;
  border-bottom: 2px solid black;
}

.containerAbout .headings {
  text-align: center;
  margin-top: 135px;
}

.containerAbout .headings h3 {
  font-size: 1.10rem;
  font-weight: 600;
}

.containerAbout .headings h2 {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 5px;
}

.containerAbout .btn {
  margin-top: 141px;
  margin-left: 10vw;
}

.containerAbout .button1 {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffa4a4;
  border: none;
  color: black;
  padding: 15px 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.containerAbout .button1:hover {
  -webkit-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.containerAbout p {
  text-align: center;
  width: 25vw;
  margin: 30px auto 0 auto;
}

/* Media Queries */
/*# sourceMappingURL=style.css.map */