.containerThree {
background-color: darkgray;
padding: 1px 0px 52px 0;
    .headings {
     text-align: center;
     margin-top: 55px;
     h3 {
         font-size: 1.10rem;
     }

    }

    .btn {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    p {
        text-align: center;
        width: 25vw;
        margin: 30px auto 0 auto;
    }
}
