@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');


.navbar {
    position: fixed;
    z-index: 3;
    width: 100vw;

   background: white !important;

   .container-fluid {
       background: white;
   }
}

.carousel-inner {
   
  -webkit-filter: blur(1.5px);


}


.carousel-caption {
    bottom: 22.25rem;
    letter-spacing: 12px;
    text-transform: uppercase;
    font-family: 'Ephesis', cursive;
   
   


    h1 {
        font-size: 150px;
        color: rgb(255, 164, 164);
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
        
    }

  
}



.containerTwo {
    margin-top: 75px;
    margin-bottom: 95px;
    text-align: center;

    img {
        border-radius: 50%;
    }

    .row {
        margin-left: 20px;
        
    }
    
    p {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    a {
        text-decoration: none;
        color: black;
        text-align: center;
        border: .5px solid black;
        padding: 10px 10px;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;

       
    }
    a:hover {
        background-color: rgb(255, 164, 164) ;
        transition: all .4s ease;
        color: white;
    }

}



.containerThree {
    background-color: rgb(255, 164, 164);
    padding: 1px 0px 52px 0;
    font-family: 'Open Sans', sans-serif;


    .headings {
     text-align: center;
     margin-top: 55px;
     
     h3 {
         font-size: 1.10rem;
         font-weight: 600;
     }

     h2 {
         font-weight: 700;
         font-size: 40px;
         letter-spacing: 5px;
     }

    }

    .btn {
        padding-bottom: 0;
        margin-bottom: 0;
        text-decoration: none;
        color: black;
        text-align: center;
        border: .5px solid black;
        padding: 10px 10px;
        border-radius: 5px;
      
    }
    a:hover {
        background-color: black ;
        transition: all .4s ease;
        color: white;
    }

    p {
        text-align: center;
        width: 25vw;
        margin: 30px auto 0 auto;
    }
}

.containerFour {
  
    padding-bottom: 145px;

    .smallHeadings {
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .smlHeading {
        width: 241px;
    }

        .headings {
         text-align: center;
         margin-top: 55px;
         h3 {
            
             font-size: 1.10rem;
         }
    
        }

        .row {
            margin: 0 auto;
            justify-content: space-evenly;
            padding-right: 96px;
            margin-top: 25px;
        }
    

        .col-2 {
            display: flex;
            flex-direction: column;

            .imgContent {
                border: 2px solid black;
                width: 300px;
                padding: 10px 20px;
            }
        }

        img {
            width: 300px;
            border-radius: 50%;
            margin-bottom: 20px;
        }
    }
    .page-footer {
        .logo2 {
            margin-bottom: 20px;
        }

        .icons {
            img {
                padding-right: 5px;
                cursor: pointer;
            }

        }
    }