@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  position: fixed;
  z-index: 3;
  width: 100vw;
  background: white !important;
}

.navbar .container-fluid {
  background: white;
}

.carousel-inner {
  -webkit-filter: blur(1.5px);
}

.carousel-caption {
  bottom: 22.25rem;
  letter-spacing: 0.75rem;
  text-transform: uppercase;
  font-family: 'Ephesis', cursive;
}

.carousel-caption h1 {
  font-size: 9.375rem;
  color: #ffa4a4;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  border: 3px solid #f1f1f1;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 1.25rem;
  margin-top: 3rem;
}

.containerTwo {
  margin-top: 4.688rem;
  margin-bottom: 5.938rem;
  text-align: center;
}

.containerTwo img {
  border-radius: 50%;
}

.containerTwo .row {
  margin-left: 1.25rem;
  font-family: 'Open Sans', sans-serif;
}

.containerTwo p {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.containerTwo a {
  text-decoration: none;
  color: black;
  text-align: center;
  border: .5px solid black;
  padding: 0.625rem 0.625rem;
  border-radius: 0.313rem;
  font-family: 'Open Sans', sans-serif;
}

.containerTwo a:hover {
  background-color: #ffa4a4;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: white;
}

.containerThree {
  background-color: #ffa4a4;
  padding: 1px 0px 52px 0;
  font-family: 'Open Sans', sans-serif;
}

.containerThree .headings {
  text-align: center;
  margin-top: 3.438rem;
}

.containerThree .headings h3 {
  font-size: 1.10rem;
  font-weight: 600;
}

.containerThree .headings h2 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.313rem;
}

.containerThree .btn {
  padding-bottom: 0;
  margin-bottom: 0;
  text-decoration: none;
  color: black;
  text-align: center;
  border: .5px solid black;
  padding: 0.625rem 0.625rem;
  border-radius: 0.313rem;
}

.containerThree a:hover {
  background-color: black;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  color: white;
}

.containerThree p {
  text-align: center;
  width: 400px;
  margin: 1.875rem auto 0 auto;
}

.container-four {
  margin-top: 4.688rem;
  margin-bottom: 5.938rem;
  text-align: center;
}

.container-four img {
  max-width: 12.5rem;
  border-radius: 50%;
}

.container-four .row {
  margin-left: 1.25rem;
  font-family: 'Open Sans', sans-serif;
}

.container-four p {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

/* Food Menu Styling */
.containerFood {
  text-align: center;
  padding-bottom: 3.125rem;
  /*
        .pastaBtn {
            border: 2px solid black;
            padding: 0.313rem 100px;
            color: rgb(255, 164, 164) ;
            text-decoration: none;
            background-color: rgb(0,0,0); // Fallback color //
            background-color: rgba(0,0,0, 0.4); // Black w/opacity/see-through // 

        } */
}

.containerFood .firstH2 {
  margin-top: 0.938rem;
}

.containerFood h2 {
  font-family: 'Open Sans', sans-serif;
}

.containerFood h1 {
  font-family: 'Ephesis', cursive;
  font-size: 16.25rem;
  color: #ffa4a4;
  padding-right: 1.25rem;
}

.containerFood .foodBorder {
  border: 2px solid black;
}

.containerFood .lastPizza {
  padding-bottom: 0 !important;
  margin-bottom: 0.313rem !important;
}

.containerFood .banner {
  width: 21.25rem;
}

/* Dessert Menu Styling */
.containerDessert h1 {
  letter-spacing: 0;
}

/* Reservation Styline */
.containerForm {
  padding-top: 1.563rem;
  margin-left: 26vw;
}

.containerForm .btn {
  margin-top: 1.25rem;
  margin-left: 20vw;
}

.containerForm .row2 {
  margin-left: 6vw;
}

/* About Styling */
.containerHistory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutHeading {
  font-size: 4rem !important;
  letter-spacing: normal;
  margin-top: 5rem !important;
}

.containerAbout {
  background-color: #fafafa;
  padding: 1px 0px 52px 0;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 100px;
  border-bottom: 2px solid black;
}

.containerAbout .headings {
  text-align: center;
  margin-top: 8.438rem;
}

.containerAbout .headings h3 {
  font-size: 1.10rem;
  font-weight: 600;
}

.containerAbout .headings h2 {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.313rem;
}

.containerAbout .btn {
  margin-top: 3.813rem;
}

.containerAbout .button1 {
  -webkit-box-shadow: 0 8px 1rem 0 rgba(0, 0, 0, 0.2), 0 6px 1.25rem 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 1rem 0 rgba(0, 0, 0, 0.2), 0 6px 1.25rem 0 rgba(0, 0, 0, 0.19);
  background-color: #ffa4a4;
  border: none;
  color: black;
  padding: 0.938rem 9.375rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.containerAbout .button1:hover {
  -webkit-box-shadow: 0 0.75rem 1rem 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0.75rem 1rem 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.containerAbout p {
  text-align: center;
  width: 450px;
  margin: 0 auto;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .aboutHeading {
    font-size: 2rem !important;
    letter-spacing: normal;
    margin-top: 18rem !important;
  }
  .aboutHeading p {
    width: 400px !important;
  }
  .carousel-caption {
    bottom: 22.25rem;
    letter-spacing: 0.75rem;
    -webkit-transform: translateY(45%);
            transform: translateY(45%);
    text-transform: uppercase;
    font-family: 'Ephesis', cursive;
  }
  .carousel-caption .pluto {
    font-size: 3.375rem;
    color: #ffa4a4;
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: auto;
    padding: 1.25rem;
    margin-top: 17rem;
  }
  .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .containerTwo .col {
    margin-bottom: 2.375rem;
  }
  .containerAbout p {
    text-align: center;
    width: auto !important;
    margin: 0 auto;
  }
  .containerAbout .btn {
    width: auto !important;
  }
  .containerAbout .button1 {
    width: auto !important;
    padding: 0.938rem 5.375rem;
  }
}

@media only screen and (min-width: 600px) {
  .carousel-caption {
    bottom: 22.25rem;
    letter-spacing: 0.75rem;
    -webkit-transform: translateY(-65%);
            transform: translateY(-65%);
    text-transform: uppercase;
    font-family: 'Ephesis', cursive;
  }
  .carousel-caption .pluto {
    font-size: 5.375rem;
    color: #ffa4a4;
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: auto;
    padding: 1.25rem;
    margin-top: 16rem;
  }
  .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .containerTwo .col {
    margin-bottom: 2.375rem;
  }
}

@media only screen and (min-width: 768px) {
  .carousel-caption {
    bottom: 22.25rem;
    letter-spacing: 0.75rem;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    text-transform: uppercase;
    font-family: 'Ephesis', cursive;
  }
  .carousel-caption .pluto {
    font-size: 6.375rem;
    color: #ffa4a4;
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: auto;
    padding: 1.25rem;
    margin-top: 12rem;
  }
  .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .containerTwo .col {
    margin-bottom: 2.375rem;
  }
}

@media only screen and (min-width: 992px) {
  .aboutHeading {
    font-size: 3rem !important;
    letter-spacing: normal;
    margin-top: 16rem !important;
  }
  .carousel-caption {
    top: 50% !important;
    -webkit-transform: translateY(-370%);
            transform: translateY(-370%);
    letter-spacing: 0.75rem;
    text-transform: uppercase;
    font-family: 'Ephesis', cursive;
  }
  .carousel-caption .pluto {
    font-size: 9.375rem;
    color: #ffa4a4;
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: auto;
    padding: 1.25rem;
    margin-top: 9rem;
  }
  .col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .containerTwo .col {
    margin-bottom: 2.375rem;
  }
}

@media only screen and (min-width: 1200px) {
  .aboutHeading {
    font-size: 4rem !important;
    letter-spacing: normal;
    margin-top: 12rem !important;
  }
}
/*# sourceMappingURL=style.css.map */